This analysis uses Land Registry data accurate as of 1st January 2019. The dataset used is the [Overseas Companies Ownership dataset](https://www.gov.uk/guidance/hm-land-registry-overseas-companies-ownership-data), it is available free of charge from the Land Registry. It contians information on leaseholds and freeholds in England and Wales owned by non UK registered companies. A country is considered to be a secrecy jurisdiction if it has a secrecy score 60 or above in the [Tax Justice Network Financial Secrecy Index](https://www.financialsecrecyindex.com/). A list of the British crown dependencies and overseas territories can be found [here](https://en.wikipedia.org/wiki/Crown_dependencies) and [here](https://en.wikipedia.org/wiki/British_Overseas_Territories).

# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Data-preparation" data-toc-modified-id="Data-preparation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data preparation</a></div><div class="lev1 toc-item"><a href="#Analysis" data-toc-modified-id="Analysis-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Analysis</a></div><div class="lev2 toc-item"><a href="#Number-of-freeholds-and-leaseholds-owned-by-companies-incorporated-in-secrecy-jurisdictions" data-toc-modified-id="Number-of-freeholds-and-leaseholds-owned-by-companies-incorporated-in-secrecy-jurisdictions-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Number of freeholds and leaseholds owned by companies incorporated in secrecy jurisdictions</a></div><div class="lev2 toc-item"><a href="#Which-secrecy-jurisdictions-are-freeholds-and-leaseholds-most-commonly-purchased-with" data-toc-modified-id="Which-secrecy-jurisdictions-are-freeholds-and-leaseholds-most-commonly-purchased-with-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Which secrecy jurisdictions are freeholds and leaseholds most commonly purchased with</a></div><div class="lev2 toc-item"><a href="#Number-of-freeholds-and-leaseholds-owned-by-companies-in-the-overseas-territories-and-crown-dependencies" data-toc-modified-id="Number-of-freeholds-and-leaseholds-owned-by-companies-in-the-overseas-territories-and-crown-dependencies-23"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Number of freeholds and leaseholds owned by companies in the overseas territories and crown dependencies</a></div><div class="lev3 toc-item"><a href="#Crown-dependencies" data-toc-modified-id="Crown-dependencies-231"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Crown dependencies</a></div><div class="lev3 toc-item"><a href="#Overseas-territories" data-toc-modified-id="Overseas-territories-232"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Overseas territories</a></div><div class="lev3 toc-item"><a href="#Either-overseas-territories-or-crown-dependencies" data-toc-modified-id="Either-overseas-territories-or-crown-dependencies-233"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Either overseas territories or crown dependencies</a></div><div class="lev2 toc-item"><a href="#Percentage-of-secretly-owned-freeholds-or-leaseholds-owned-by-company-in-overseas-territory-or-crown-dependency" data-toc-modified-id="Percentage-of-secretly-owned-freeholds-or-leaseholds-owned-by-company-in-overseas-territory-or-crown-dependency-24"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Percentage of secretly owned freeholds or leaseholds owned by company in overseas territory or crown dependency</a></div><div class="lev2 toc-item"><a href="#Price-paid-for-leaseholds-and-properties" data-toc-modified-id="Price-paid-for-leaseholds-and-properties-25"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Price paid for leaseholds and properties</a></div><div class="lev3 toc-item"><a href="#Proportion-of-titles-with-price-paid-data" data-toc-modified-id="Proportion-of-titles-with-price-paid-data-251"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Proportion of titles with price paid data</a></div><div class="lev3 toc-item"><a href="#Total-rice-paid-for-leaseholds-and-freeholds-owned-by-companies-incorporated-in-secrecy-jurisdictions" data-toc-modified-id="Total-rice-paid-for-leaseholds-and-freeholds-owned-by-companies-incorporated-in-secrecy-jurisdictions-252"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>Total rice paid for leaseholds and freeholds owned by companies incorporated in secrecy jurisdictions</a></div><div class="lev3 toc-item"><a href="#Price-paid-for-leaseholds-and-freeholds-owned-by-companies-incorporated-in-a-crown-dependency-or-overseas-territory-(in-GBP-and-using-only-those-titles-for-which-price-paid-data-is-available)" data-toc-modified-id="Price-paid-for-leaseholds-and-freeholds-owned-by-companies-incorporated-in-a-crown-dependency-or-overseas-territory-(in-GBP-and-using-only-those-titles-for-which-price-paid-data-is-available)-253"><span class="toc-item-num">2.5.3&nbsp;&nbsp;</span>Price paid for leaseholds and freeholds owned by companies incorporated in a crown dependency or overseas territory (in GBP and using only those titles for which price paid data is available)</a></div><div class="lev3 toc-item"><a href="#Additional-working-to-estimate-value-and-impute-misisng-data-for-leaseholds-and-freeholds-owned-by-companies-incorproated-in-secrecy-jurisdictions" data-toc-modified-id="Additional-working-to-estimate-value-and-impute-misisng-data-for-leaseholds-and-freeholds-owned-by-companies-incorproated-in-secrecy-jurisdictions-254"><span class="toc-item-num">2.5.4&nbsp;&nbsp;</span>Additional working to estimate value and impute misisng data for leaseholds and freeholds owned by companies incorproated in secrecy jurisdictions</a></div><div class="lev2 toc-item"><a href="#Count-number-of-freeholds-and-leaseholds-owned-by-secret-companies-by-region" data-toc-modified-id="Count-number-of-freeholds-and-leaseholds-owned-by-secret-companies-by-region-26"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Count number of freeholds and leaseholds owned by secret companies by region</a></div><div class="lev2 toc-item"><a href="#Count-freeholds-and-leaseholds-owned-by-companies-incorporated-in-secrecy-jurisdictions-by-district" data-toc-modified-id="Count-freeholds-and-leaseholds-owned-by-companies-incorporated-in-secrecy-jurisdictions-by-district-27"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Count freeholds and leaseholds owned by companies incorporated in secrecy jurisdictions by district</a></div><div class="lev3 toc-item"><a href="#Filter-data-for-only-leaseholds-and-freeholds-in-Greater-London-and-count-by-borough" data-toc-modified-id="Filter-data-for-only-leaseholds-and-freeholds-in-Greater-London-and-count-by-borough-271"><span class="toc-item-num">2.7.1&nbsp;&nbsp;</span>Filter data for only leaseholds and freeholds in Greater London and count by borough</a></div><div class="lev4 toc-item"><a href="#Proportion-of-secretly-owned-leaseholds-and-freeholds-in-London" data-toc-modified-id="Proportion-of-secretly-owned-leaseholds-and-freeholds-in-London-2711"><span class="toc-item-num">2.7.1.1&nbsp;&nbsp;</span>Proportion of secretly owned leaseholds and freeholds in London</a></div><div class="lev2 toc-item"><a href="#Number-and-estimated-value-of--freeholds-and-leaseholds-owned-by-companies-incorproated-in-secrecy-jurisdictions-by-road" data-toc-modified-id="Number-and-estimated-value-of--freeholds-and-leaseholds-owned-by-companies-incorproated-in-secrecy-jurisdictions-by-road-28"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Number and estimated value of  freeholds and leaseholds owned by companies incorproated in secrecy jurisdictions by road</a></div><div class="lev2 toc-item"><a href="#Top-10-freeholds-or-leaseholds-purchased-by-companies-incorporated-in-secrecy-jurisdictions-by-price-paid-(not-adjusted-for-inflation)" data-toc-modified-id="Top-10-freeholds-or-leaseholds-purchased-by-companies-incorporated-in-secrecy-jurisdictions-by-price-paid-(not-adjusted-for-inflation)-29"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Top 10 freeholds or leaseholds purchased by companies incorporated in secrecy jurisdictions by price paid (not adjusted for inflation)</a></div>

In [7]:
import pandas as pd
import re
import numpy as np
import warnings
from postal.parser import parse_address
warnings.filterwarnings('ignore')


def set_columns(df, overseas):
    cols = ['Title_Number', 'Tenure', 'Property_Address', 'District',
       'County', 'Region', 'Postcode', 'Multiple_Address_Indicator', 'Price_Paid', '1-Proprietor_Name',
       '1-Company_Registration', '1-Proprietorship',
       '1-Country_Incorporated', '1-Proprietor_Address_1',
       '1-Proprietor_Address_2', '1-Proprietor_Address_3', '2-Proprietor_Name',
       '2-Company_Registration', '2-Proprietorship',
       '2-Country_Incorporated', '2-Proprietor_Address_1',
       '2-Proprietor_Address_2', '2-Proprietor_Address_3', '3-Proprietor_Name',
       '3-Company_Registration', '3-Proprietorship',
       '3-Country_Incorporated', '3-Proprietor_Address_1',
       '3-Proprietor_Address_2', '3-Proprietor_Address_3', '4-Proprietor_Name',
       '4-Company_Registration', '4-Proprietorship',
       '4-Country_Incorporated', '4-Proprietor_Address_1',
       '4-Proprietor_Address_2', '4-Proprietor_Address_3',
       'Date_Proprietor_Added', 'Additional_Proprietor_Indicator']
    if overseas == True:
        df.columns = cols
    else:
        to_remove = ['1-Country_Incorporated', '2-Country_Incorporated', '3-Country_Incorporated', '4-Country_Incorporated']
        cols = [x for x in cols if x not in to_remove]
        df.columns = cols
    return df


def remove_last_row(df):
    df = df[~df['Title Number'].str.contains('Row Count')]
    return df


def transform_df(df, overseas):
    # Transform df so that there is one proprietor per row. Create stacked version of original table which is better for counts
    df = set_columns(df, overseas)
    df.set_index(['Title_Number', 'Tenure', 'Property_Address', 'Price_Paid', 'District',
       'County', 'Region', 'Postcode', 'Date_Proprietor_Added', 'Additional_Proprietor_Indicator',
       'Multiple_Address_Indicator'], inplace=True)
    tuples = tuple(df.columns.str.split("-"))
    tuples = [x[::-1] for x in tuples]
    df.columns = pd.MultiIndex.from_tuples(tuples)
    df = df.stack(level = 1)
    df = df.reset_index()
    df.rename(columns={'level_11': 'Proprietor_Number'}, inplace=True)
    return df


def normalize_countries(df):
    # Normalziation of Country Incorproated field
    df['incorporated_normalized'] = df.Country_Incorporated
    df.incorporated_normalized = df.incorporated_normalized.str.strip()
    df.incorporated_normalized = df.incorporated_normalized.str.upper()
    # Read in clean df mapper
    clean_country_mapping = pd.read_csv('../data/processed/country_incorporated_clean.csv', index_col='original', squeeze=True)
    df.incorporated_normalized = df.incorporated_normalized.map(clean_country_mapping)
    return df


def add_secrecy_jurisdiction_column(df):
    # Load in df on secrecy jurisdictions, normalize and take average of secrecy score from Financial Secrecy Index 2018
    secrecy_index = pd.read_csv('../data/processed/financial_secrecy_index_2018.csv')
    secrecy_index['normalized_jurisdiction'] = secrecy_index.Jurisdiction.str.upper()
    secret_jurisdictions = secrecy_index[secrecy_index['Secrecy Score'] >= 60]['normalized_jurisdiction'].tolist()
    # Add in all USA states
    df.Country_Incorporated = df.Country_Incorporated.fillna('')
    us_secret = df[df.Country_Incorporated.str.contains('U.S.A')].Country_Incorporated.unique().tolist()
    secret_jurisdictions.extend(us_secret)
    # Add in field for marking if company incorporated in secrecy jurisdiction
    df['secrecy_jurisdiction'] = df.incorporated_normalized.isin(secret_jurisdictions)
    return df


def add_cd_and_ot_columns(df):
    # Add in extra field to mark if company incorproated in overseas terrirtory or crown dependency. List of crown dependencies (https://en.wikipedia.org/wiki/Crown_dependencies) and overseas territories (https://en.wikipedia.org/wiki/British_Overseas_Territories)
    list_of_cds = [
            'JERSEY',
            'HERM',
            'GUERNSEY',
            'ALDERNEY',
            'SARK',
            'BRECQHOU',
            'JERSEY',
            'ISLE OF MAN'
                  ]
    list_of_ots = [
            'AKROTIRI AND DHEKELIA',
            'ANGUILLA',
            'BERMUDA',
            'BRITISH ANTARCTIC TERRITORY',
            'BRITISH INDIAN OCEAN TERRITORY',
            'BRITISH VIRGIN ISLANDS',
            'CAYMAN ISLANDS',
            'FALKLAND ISLANDS',
            'GIBRALTAR',
            'MONTSERRAT',
            'PITCAIRN, HENDERSON, DUCIE AND OENO ISLANDS',
            'ST. HELENA',
            'ASCENSION ISLAND',
            'TRISTAN DA CUNHA',
            'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS',
            'TURKS AND CAICOS ISLANDS'
                  ]
    # Create columns
    df['overseas_territory'] = df['incorporated_normalized'].isin(list_of_ots)
    df['crown_dependency'] = df['incorporated_normalized'].isin(list_of_cds)
    return df


def clean_and_transform(df, overseas):
    df = remove_last_row(df) # Remove last row which is a count
    df = transform_df(df, overseas) # Transform data so that there is one row per proprietor
    if overseas == True:
        df = normalize_countries(df) # Clean up countries so that they map correctly on to the other datasets e.g. TJN Financial Secrecy Index
        df = add_secrecy_jurisdiction_column(df) # Add in boolean field to tell if country is incorporated in a secrecy jurisdiction
        df = add_cd_and_ot_columns(df) # Add in boolean fields for incorproation in crown dependenies or overseas territories
    return df


def lower_bound(x):
    no_na = x.dropna()
    if len(no_na) < 5:
        return 0
    else:
        return np.percentile(no_na, 25)

    
def median(x):
    no_na = x.dropna()
    if len(no_na) < 5:
        return 0
    else:
        return np.median(no_na)

    
def upper_bound(x):
    no_na = x.dropna()
    if len(no_na) < 5:
        return 0
    else:
        return np.percentile(no_na, 75)
    
    
def p_parse_address(x):
    try:
        parsed = parse_address(x)
        output_dict = {}
        for item in parsed:
            output_dict[item[1]] = item[0]
        output = pd.Series(output_dict)
        return output
    except:
        return np.nan

# Data preparation

In [8]:
%%capture
data = pd.read_csv('../data/raw/OCOD_FULL_2019_01.csv') # Load in Land Registry data accurate as of 1st January 2019
data = clean_and_transform(data, True)
data = add_secrecy_jurisdiction_column(data) # Add in boolean field to tell if country is incorporated in a secrecy jurisdiction
data = add_cd_and_ot_columns(data) # Add in boolean fields for incorproation in crown dependenies or overseas territories

# Analysis

## Number of freeholds and leaseholds owned by companies incorporated in secrecy jurisdictions

In [9]:
len(data[data.secrecy_jurisdiction == True].Title_Number.unique())

87820

## Which secrecy jurisdictions are freeholds and leaseholds most commonly purchased with

In [10]:
temp_df = data[data.secrecy_jurisdiction == True].pivot_table(index='incorporated_normalized', values='Title_Number', aggfunc=lambda x: len(x.unique())).sort_values(by='Title_Number', ascending=False).head(10)
temp_df.to_excel('../data/outputs/count_by_jurisdiction.xlsx')
temp_df

                         Title_Number
incorporated_normalized
BRITISH VIRGIN ISLANDS          22882
JERSEY                          20325
GUERNSEY                        12315
ISLE OF MAN                     10704
GIBRALTAR                        2475
SINGAPORE                        2038
PANAMA                           1640
NETHERLANDS                      1589
HONG KONG                        1537
SEYCHELLES                       1374

## Number of freeholds and leaseholds owned by companies in the overseas territories and crown dependencies

### Crown dependencies

In [11]:
len(data[data.crown_dependency == True].Title_Number.unique())

43387

In [12]:
data[data.crown_dependency == True].pivot_table(index='incorporated_normalized', values='Title_Number', aggfunc=lambda x: len(x.unique())).sort_values(by='Title_Number', ascending=False)

                         Title_Number
incorporated_normalized
JERSEY                          20325
GUERNSEY                        12315
ISLE OF MAN                     10704
ALDERNEY                           46

### Overseas territories

In [13]:
len(data[data.overseas_territory == True].Title_Number.unique())

27897

In [14]:
data[data.overseas_territory == True].pivot_table(index='incorporated_normalized', values='Title_Number', aggfunc=lambda x: len(x.unique())).sort_values(by='Title_Number', ascending=False)

                          Title_Number
incorporated_normalized
BRITISH VIRGIN ISLANDS           22882
GIBRALTAR                         2475
CAYMAN ISLANDS                    1330
BERMUDA                            701
ANGUILLA                           281
TURKS AND CAICOS ISLANDS           230
FALKLAND ISLANDS                     2

### Either overseas territories or crown dependencies

In [15]:
len(data[(data.crown_dependency == True) | (data.overseas_territory == True)].Title_Number.unique())

71250

## Percentage of secretly owned freeholds or leaseholds owned by company in overseas territory or crown dependency

In [16]:
'{0:.2f}'.format(len(data[((data.crown_dependency == True) | (data.overseas_territory == True)) & (data.secrecy_jurisdiction == True)].Title_Number.unique()) / len(data[data.secrecy_jurisdiction == True].Title_Number.unique()) * 100) + '%'

'81.08%'

## Price paid for leaseholds and properties

### Proportion of titles with price paid data

In [17]:
str((data.drop_duplicates(subset=['Title_Number']).Price_Paid.count() / len(data.drop_duplicates(subset=['Title_Number'])) * 100).round(2)) + '%'

'30.62%'

### Total rice paid for leaseholds and freeholds owned by companies incorporated in secrecy jurisdictions

In [18]:
data[data.secrecy_jurisdiction == True].drop_duplicates(subset=['Title_Number']).Price_Paid.sum()

55713759222.0

### Price paid for leaseholds and freeholds owned by companies incorporated in a crown dependency or overseas territory (in GBP and using only those titles for which price paid data is available)

In [19]:
data[(data.overseas_territory == True) | (data.crown_dependency == True)].drop_duplicates(subset=['Title_Number']).Price_Paid.sum()

48894619012.0

### Additional working to estimate value and impute misisng data for leaseholds and freeholds owned by companies incorproated in secrecy jurisdictions

Where price paid data is missing it is infered using the 25th percentile, median and 75th percentile for that tenure in that specific region. All prices paid are adjusted using the [Consumer Price Index](https://www.ons.gov.uk/economy/inflationandpriceindices/datasets/consumerpriceindices). As the data contains both residential and commerical property, the Land Registry's House Price Index cannot be used. Given that property prices in England and Wales have generally risen above the rate of inflation, these can be considered relatively conseervative estimates. More precise estimates could be derived by using some of the commerically available valuation APIs offered by Zoopla and others.

In [20]:
data['date_converted'] = pd.to_datetime(data['Date_Proprietor_Added'])
data['month-year'] = data.apply(lambda x: str(x.date_converted.month) + '-' + str(x.date_converted.year), axis=1)
cpi = pd.read_csv('../data/processed/ons_inflation_time_series.csv', header=None, skiprows=8)
cpi.columns = ['time', 'index']
cpi['time_converted'] = pd.to_datetime(cpi.time)
cpi.index = pd.PeriodIndex(data=cpi['time_converted'], freq='m')
cpi['month-year'] = cpi.apply(lambda x: str(x.time_converted.month) + '-' + str(x.time_converted.year), axis=1)
cpi['multiple'] = cpi.apply(lambda x: cpi[cpi.time=='2019 JAN']['index'] / x['index'], axis=1)
cpi.sort_values(by='multiple', ascending=False, inplace=True)
cpi.drop_duplicates(subset=['month-year'], keep='first', inplace=True)
idx = pd.period_range(freq='M', start='1801-01', end='2019-01')
cpi = cpi.reindex(idx)
cpi['multiple'] = cpi['multiple'].ffill()
cpi_s = pd.Series(cpi['multiple'])
data['price_paid_adjusted'] = data.dropna(subset=['Price_Paid', 'Date_Proprietor_Added'], how='any').apply(lambda x: x.Price_Paid * cpi_s.loc[x['month-year']], axis=1)
data['price_paid_adjusted'] = data['price_paid_adjusted'].astype(float)
mapper_oc = data.pivot_table(index=['District', 'Tenure'], values='price_paid_adjusted', aggfunc=(median, lower_bound, upper_bound), dropna=False)
data['Price_Paid_Filled_O_Lower'] = data.apply(lambda x:  mapper_oc.loc[(x['District'], x['Tenure']), 'lower_bound'] if pd.isnull(x['price_paid_adjusted']) else x['price_paid_adjusted'], axis=1)
data['Price_Paid_Filled_O_Median'] = data.apply(lambda x:  mapper_oc.loc[(x['District'], x['Tenure']), 'median'] if pd.isnull(x['price_paid_adjusted']) else x['price_paid_adjusted'], axis=1)
data['Price_Paid_Filled_O_Upper'] = data.apply(lambda x:  mapper_oc.loc[(x['District'], x['Tenure']), 'upper_bound'] if pd.isnull(x['price_paid_adjusted']) else x['price_paid_adjusted'], axis=1)
print('Estimate using 25th percentile -> ' + str(data[(data.overseas_territory == True) | (data.crown_dependency == True)].drop_duplicates(subset=['Title_Number']).Price_Paid_Filled_O_Lower.sum()))
print('Estimate using median -> ' + str(data[(data.overseas_territory == True) | (data.crown_dependency == True)].drop_duplicates(subset=['Title_Number']).Price_Paid_Filled_O_Median.sum()))
print('Estimate using 75th percentile -> ' + str(data[(data.overseas_territory == True) | (data.crown_dependency == True)].drop_duplicates(subset=['Title_Number']).Price_Paid_Filled_O_Upper.sum()))

Estimate using 25th percentile -> 73348965626.86299
Estimate using median -> 97359210273.8534
Estimate using 75th percentile -> 178076912129.8883

## Count number of freeholds and leaseholds owned by secret companies by region

In [21]:
regional_counts = data[data.secrecy_jurisdiction == True].pivot_table(index='Region', values='Title_Number', aggfunc=lambda x: len(x.unique()))
dw_region_mapping = pd.read_csv('../data/processed/dw_mapping_regions_uk.csv')
dw_region_mapping = pd.Series(dw_region_mapping.dw_name.values, index=dw_region_mapping.lr_name)
regional_counts.reset_index(inplace=True)
regional_counts['dw_name'] = regional_counts.Region.map(dw_region_mapping)
regional_counts = regional_counts[['dw_name', 'Title_Number']]
regional_counts.columns = ['region', 'number_of_properties']
regional_counts['region'] = regional_counts.region.str.replace(' & Gibraltar', '')
regional_counts

                     region  number_of_properties
0             East Midlands                  2207
1           East of England                  3321
2                    London                 40100
3        North East England                  2205
4        North West England                  9856
5        South East England                 14189
6        South West England                  4795
7                     Wales                  2269
8             West Midlands                  3890
9  Yorkshire and the Humber                  4988

## Count freeholds and leaseholds owned by companies incorporated in secrecy jurisdictions by district

In [22]:
district_count = data[data.secrecy_jurisdiction == True].pivot_table(index='District', values='Title_Number', aggfunc=lambda x: len(x.unique())).sort_values(by='Title_Number', ascending=False)
district_count.columns = ['Number of secret properties']
district_count.to_excel('../data/outputs/district_counts.xlsx')
district_count.head(10)

                        Number of secret properties
District
CITY OF WESTMINSTER                           10701
KENSINGTON AND CHELSEA                         5729
CAMDEN                                         2320
TOWER HAMLETS                                  1930
WANDSWORTH                                     1869
LAMBETH                                        1695
MANCHESTER                                     1480
HAMMERSMITH AND FULHAM                         1432
SOUTHWARK                                      1327
LIVERPOOL                                      1298

### Filter data for only leaseholds and freeholds in Greater London and count by borough

In [23]:
london_data = data[data.Region == 'GREATER LONDON']
secret_london_data = london_data[london_data.secrecy_jurisdiction == True]
secret_borough_count = secret_london_data.pivot_table(index='District',values='Title_Number',aggfunc=lambda x: len(x.unique()))
secret_borough_count.columns = ['number_of_secretly_owned_properties']
secret_borough_count = secret_borough_count.sort_values(by='number_of_secretly_owned_properties',ascending=False)
secret_borough_count.reset_index(inplace=True)
secret_borough_count.index = np.arange(1, len(secret_borough_count) + 1)
secret_borough_count.reset_index(inplace=True)
secret_borough_count.columns = ['rank','borough','number_of_secretly_owned_properties']
ordinal_map = pd.read_csv('../data/processed/cardinal_numbers_and_ordinals_chart.csv')
ordinal_map.cardinal_number = ordinal_map['cardinal_number'].astype(int)
ordinal_map = pd.Series(ordinal_map['ordinal_word'].values,index=ordinal_map['cardinal_number'])
secret_borough_count['ordinal'] = secret_borough_count['rank'].map(ordinal_map).str.lower()

#### Proportion of secretly owned leaseholds and freeholds in London

In [24]:
str(round((len(secret_london_data.Title_Number.unique()) / len(data[data.secrecy_jurisdiction == True].Title_Number.unique())* 100), 2)) + '%'

'45.66%'

## Number and estimated value of  freeholds and leaseholds owned by companies incorproated in secrecy jurisdictions by road

As the original data does not contain a separate field for road, we have had to parse out the roads using a special tool. This is unlikely to have 100% accuracy and some of these numbers may be undercounts. Here we the estimated value using the techniques described above.

In [25]:
data = pd.concat([data, data.Property_Address.dropna().apply(lambda x: p_parse_address(x))], axis=1)

In [26]:
df_1 = data[data.secrecy_jurisdiction == True].pivot_table(index=['road', 'District'], values='Title_Number', aggfunc=lambda x: len(x.unique())).sort_values(by='Title_Number', ascending=False)
df_2 = data[data.secrecy_jurisdiction == True].pivot_table(index=['road', 'District'], values='Price_Paid_Filled_O_Median', aggfunc=np.sum).sort_values(by='Price_Paid_Filled_O_Median', ascending=False).round()
output_df = pd.merge(left=df_1, right=df_2, left_index=True, right_index=True).sort_values(by='Price_Paid_Filled_O_Median', ascending=False)
output_df.columns = ['number_properties', 'estimated_value']
output_df.head(40)

,,number_properties,estimated_value
road,District,,
knightsbridge,CITY OF WESTMINSTER,229,727013105.0
saffron hill,CAMDEN,8,720760141.0
high street,BROMLEY,59,580548014.0
southwark street,SOUTHWARK,21,578928431.0
sherwood court thurston road,LEWISHAM,11,499431014.0
concorde village chertsey road,HOUNSLOW,557,468894236.0
leadenhall street,CITY OF LONDON,16,456256253.0
broadway,CITY OF WESTMINSTER,4,447068382.0
hammersmith road,HAMMERSMITH AND FULHAM,21,393106737.0
colchester road,COLCHESTER,656,391008837.0
buckingham palace road,CITY OF WESTMINSTER,50,349356982.0
churchyard row,SOUTHWARK,2,325118010.0
old broad street,CITY OF LONDON,23,310256381.0
elephant road,SOUTHWARK,265,304412979.0
canada square,TOWER HAMLETS,31,295687495.0
oxford street,CITY OF WESTMINSTER,44,294655401.0
broadway,NEWHAM,8,294470125.0
new fetter lane,CITY OF LONDON,8,288607311.0
great portland street,CITY OF WESTMINSTER,68,285238608.0
houndsditch,CITY OF LONDON,8,277364656.0
fenchurch street london and 70 gracechurch street,CITY OF LONDON,1,275562438.0
new bond street,CITY OF WESTMINSTER,35,273177196.0
churchill place,TOWER HAMLETS,5,271731269.0
gresham street,CITY OF LONDON,8,270115992.0
fenchurch street,CITY OF LONDON,23,264520040.0
park plaza westminster bridge 200 westminster bridge road,LAMBETH,571,259946663.0
union court,CITY OF LONDON,1,258979300.0
hawksbill way,CITY OF PETERBOROUGH,127,258875532.0
grosvenor street,CITY OF WESTMINSTER,23,230036049.0
wandsworth road,LAMBETH,84,227262036.0
lowndes square,CITY OF WESTMINSTER,67,226700817.0
queen street,CITY OF LONDON,12,223541582.0
cadogan square,KENSINGTON AND CHELSEA,134,220734484.0
park street,CITY OF WESTMINSTER,118,216611521.0
princes gate,CITY OF WESTMINSTER,55,214799734.0
fleet street,CITY OF LONDON,17,208942989.0
eaton square,CITY OF WESTMINSTER,82,207273188.0
moorgate,CITY OF LONDON,13,204595810.0
bull street,BIRMINGHAM,2,201947416.0
lexham gardens,KENSINGTON AND CHELSEA,46,201435027.0

## Top 10 freeholds or leaseholds purchased by companies incorporated in secrecy jurisdictions by price paid (not adjusted for inflation)

In [27]:
# Add in field to capture all owner names
temp_df = data[data.secrecy_jurisdiction == True].copy()
temp_df.set_index('Title_Number', inplace=True, drop=False)
temp_df['owner_names'] = temp_df[['Title_Number', 'Proprietor_Name']].groupby(['Title_Number']).agg(lambda x: ', '.join(x) if len(x) > 0 else x)
temp_df['jurisidctions_incorporated'] = temp_df[['Title_Number', 'incorporated_normalized']].groupby(['Title_Number']).agg(lambda x: ', '.join(x) if len(x) > 0 else x)
df_1 = temp_df[['Title_Number', 'Property_Address', 'Postcode', 'owner_names', 'incorporated_normalized','Price_Paid', 'Date_Proprietor_Added']].drop_duplicates(subset=['Title_Number'])
output_df = df_1.sort_values(by='Price_Paid', ascending=False)
output_df.head(50).to_excel('../data/outputs/top_50_freeholds_leaseholds_secrecy_jurisdictions.xlsx', index=False)
output_df.head(10)

,Title_Number,Property_Address,Postcode,owner_names,incorporated_normalized,Price_Paid,Date_Proprietor_Added
Title_Number,,,,,,,
LN230418,LN230418,"New Scotland Yard, 8-10 Broadway, London (SW1H...",SW1H 0GB,BL DEVELOPMENT LIMITED,JERSEY,370000000.0,15-11-2016
BGL31510,BGL31510,"Olympia Exhibition Halls, Hammersmith Road, Lo...",W14 8UX,OLYMPUS PROPERTY HOLDING LTD,JERSEY,280000000.0,04-05-2017
NGL748318,NGL748318,"168 Fenchurch Street, London and 70 Gracechurc...",NaN,ADVANCED IDEA HOLDINGS LIMITED,BRITISH VIRGIN ISLANDS,270798594.0,12-10-2017
LN113410,LN113410,33 to 41 Old Broad Street and 1 to 6 Union Cou...,EC2N 1DY,SEA PROFIT HOLDINGS LIMITED,BRITISH VIRGIN ISLANDS,260000000.0,09-01-2018
EGL567818,EGL567818,"Parcel BP2, 5 Churchill Place, Canary Wharf, L...",NaN,SPENCER HOLDINGS LIMITED,BERMUDA,257240000.0,15-03-2017
NGL690048,NGL690048,"123 Buckingham Palace Road, London (SW1W 9SR)",SW1W 9SR,GC 123 BPR LTD,BRITISH VIRGIN ISLANDS,215399999.0,07-07-2017
TGL298368,TGL298368,"Ground Floor and Basement, 90 Southwark Street...",SE1 0TF,RREEF BANKSIDE III LIMITED,JERSEY,180364651.0,13-07-2017
TGL270288,TGL270288,"90 Southwark Street, London (SE1 0TF)",SE1 0TF,RREEF BANKSIDE III LIMITED,JERSEY,180364651.0,13-07-2017
WR150339,WR150339,"Ledbury Court, Hill View Road, Malvern (WR14 1BH)",WR14 1BH,ABACUS LAND 4 LIMITED,GUERNSEY,168076986.0,04-05-2018
WR150340,WR150340,"Stirling Court, 54 Bracken Way, Malvern (WR14 ...",WR14 1JH,ABACUS LAND 4 LIMITED,GUERNSEY,168076986.0,04-05-2018

In [28]:
##Output full data frame
data.to_excel('../data/processed/full_stacked_cleaned_data.xlsx')